#error-message{
    display: none; 
    color: #000;
    padding: 10px;
    text-align: center;
    width: 300px;
    border: 3px solid red;
    border-radius: 20px;
    background-color: #ff00001a;
    margin: auto;
    margin-top: 30px;
}