.results {
    display: flex;
    justify-content: center;
    margin: 0 0 65px 0;

    .card-position {
        display: flex;
        justify-content: center;

        .card {
            width: 60%;
            padding: 20px;
            margin-top: 65px;
            border: 5px solid $primary-color;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;

                .card-title,
                .card-text {
                    text-align: center;
                }
            }
        }
    }
}
