.results {
    display: flex;
    justify-content: center;
    margin: 45px 0 45px 0;

    .row{
        width: 100%;
        // min-width: max-content;

        .card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: auto;
            
    
            .card {
                width: 100%;
                height: 230px;
                padding: 20px;
                margin: 20px;
                border: 5px solid $primary-color;
                border-radius: 15px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: center;
                align-items: center;
    
                .card-body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    .card-title,
                    .card-text {
                        text-align: center;
                    }

                    .card-button {
                        position: absolute;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    
}