// mobile

@media (max-width: 320px) {
    .card {
        width: 90% !important;
    }

    h1 {
        font-size: 2.5rem !important;
    }

    .search-bar,
    .button {
        padding: 6px !important;
        font-size: 12px !important;
    }

    #loader {
        margin: auto;
        margin-top: 50px;
    }
}

@media (min-width: 321px) and (max-width: 525px) {
    .card {
        width: 70% !important;
    }

    h1 {
        font-size: 3rem !important;
    }

    .search-bar,
    .button {
        padding: 8px !important;
        font-size: 14px !important;
    }

    #loader {
        margin: auto;
        margin-top: 50px;
    }
}

// tablet
@media (min-width: 526px) and (max-width: 768px) {
    .card {
        width: 50% !important;
    }
}

// desktop
@media (min-width: 769px) and (max-width: 1024px) {
    .card {
        width: 33.33% !important;
    }
}

@media (min-width: 1025px) {
    .card {
        width: 25% !important;
    }
}
