h1{
    font-size: 3.5rem;
    font-weight: bold;
    color: $secondary-color;
}

.card-text{
    font-size: 10px !important;
}

.modal-title{
    font-size: 1.5rem;
    color: white;
}

.modal-author{
    font-size: 12px;
}